/datasets/
/figs
/models/
/train_output.log
/collect_data_IRL_output.log
train_output.log
datasets/
figs
models/
logs/
/logs/
collect_data_IRL_output.log
main_output.log
pipeline_output.log
train_output_10000.log
train_output_12500.log
train_output_15000.log
train_output_17500.log
train_output_20000.log
train_output_22500.log
train_output_25000.log
train_output_27500.log
train_output_30000.log
train_output_10000.log
train_output_12500.log
train_output_30000.log
