/datasets/
/figs
/models/
/train_output.log
/logs
main_output.log
pipeline_output.log
/mlp_exps/logs
/mlp_exps/models
/mlp_exps/figs
/mlp_exps/datasets
/Zurcher/logs
/Zurcher/models
/Zurcher/figs
/Zurcher/datasets
/Zurcher/outputs
/Zurcher/models
/baseline/SAmQ/data/
/baseline/SAmQ/wandb/
/Zurcher/num/data
/gym/datasets
/gym/Expert_policy
/gym/figs
/gym/models
/gym/logs
/gym/outputs
/gym/num/data